* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-wrap {
  min-height: 100vh;
}
.card{
  outline: 2px solid white;
  outline-offset: 4px;
}
.bordered{
  border-radius: 47px 10px 49px 10px;
-webkit-border-radius: 47px 10px 49px 10px;
-moz-border-radius: 47px 10px 49px 10px;
}
.bg-rainy {
  background-image: url("./assets/rainy.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-sunny {
  background-image: url("./assets/sunny.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-size {
  font-size: 90px;
}
.icon-cloud {
  background: linear-gradient(135deg, #54dae5, #408994);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-sun {
  background: linear-gradient(
    to bottom,
    #fff57b 0%,
    #ffb343 30%,
    #fa8607 60%,
    #ff0800 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sunrotate 4s linear infinite;
}
@keyframes sunrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icon-snowy {
  background: linear-gradient(to bottom, #f9fdff 0%, #b8dbf2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-snowy {
  background-image: url("./assets/snowy.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-windy {
  background: linear-gradient(to bottom, #f4faff 0%, #9fd3ec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-windy {
  background-image: url("./assets/windy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-foggy {
  background: linear-gradient(to bottom, #f4faff 0%, #9fd3ec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-foggy {
  background-image: url("./assets/foggy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-cloudy {
  background: linear-gradient(to bottom, #f5f7fa 0%, #c9ced6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-cloudy {
  background-image: url("./assets/cloudy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-stormy {
  background: linear-gradient(to bottom, #f5f7fa 0%, #c9ced6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-stormy {
  background-image: url("./assets/stormy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-hail {
  background: linear-gradient(to bottom, #f5f7fa 0%, #c9ced6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-hail {
  background-image: url("https://i.gifer.com/Cba.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.text-linear {
  background: linear-gradient(to bottom, #eef2f5 0%, #c9d3da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

